.addcontact-main {
    justify-content: center;
    background-color:rgb(233, 245, 250);
    display: flex;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    
}

.contact-label {
    float: left;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

.addcontact-button-container{
    display: flex;
    justify-content: center;
}

.addcontact-button {
    background-color: #379ce0;
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    margin-right: 10px;
}
.addcontact-button:last-child{
    margin-right: 0;
}
#cancel{
    background-color: lightgray;
    margin: 0;
}

#cancel:hover{
    background-color:grey;
}

.addcontact-button:hover {
    background-color: #1891e1;
}

.addcontact-form-container {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    background-color: white;
}

.contact-container {
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width: 800px) {
    .addcontact-form-container {
        width: 100%;
        max-width: 600px;
        padding: 30px;
        box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
        border-style: ridge;
        border-color: #ccc;
        border-radius: 5px;
    }
}

@media (prefers-color-scheme: dark) {
    .addcontact-main {
        background-color: rgb(32, 33, 36);
        color: #e0e0e0;
    }

    .addcontact-form-container{
        background-color: #2A2A2A;
        color: #e0e0e0;
        border-color:#555;
    }
    
    input[type=text], input[type=email]{
        background-color: #333;
        color: #e0e0e0;
        border-color:#555;
    }

    .addcontact-button {
        background-color: #005ea6;
        color: #e0e0e0;
    }

    .addcontact-button:hover {
        background-color: #003d73;
    }

    label {
        color: #e0e0e0;
    }
}
